/develop-eggs
/eggs
/fake-eggs
/bin
/parts
/downloads
/var
/build
/dist
/local.cfg
*.egg-info
/.installed.cfg
*.py[cod]
/.Python
/pip-selfcheck.json
/include
/lib
/.project
/.pydevproject
/.mr.developer.cfg
/src-mrd/
/.tox/
/_build/
coverage.xml
.coverage*
*.mo
docs/Makefile
docs/make.bat
docs/doctrees
docs/html
