[buildout]
extends =
    http://dist.plone.org/release/4.0.1/versions.cfg
parts = test test-chrome test-ie coverage-report
develop = .
    
[test]
recipe = zc.recipe.testrunner
eggs =
    PILwoTk
    plone.app.testing [test]
defaults = ['--auto-color', '--auto-progress', '--verbose']

[test-chrome]
<= test
environment = testenv-chrome

[testenv-chrome]
SELENIUM_DRIVER = chrome

[test-ie]
<= test
environment = testenv-ie

[testenv-ie]
SELENIUM_DRIVER = ie

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
arguments = ('coverage', 'report')
